aiocoap
aiohttp
aiosignal
asgiref
async-timeout
attrs
base
certifi
charset-normalizer
click
colorama
coreapi
coreschema
Django
django-utils-six
djangorestframework
filebrowser
Flask
frozenlist
idna
itsdangerous
itypes
Jinja2
MarkupSafe
multidict
pdfrw
Pillow
pip
pycryptodome
pycryptodome-test-vectors
PyPDF2==1.27.12
pytz
reportlab
requests
setuptools
sites
sqlparse
starkbank-ecdsa
tzdata
uritemplate
urllib3
Werkzeug
wheel
yarl
gunicorn